{{ define "main" }}

<h2 class="post__title">{{ with partial "get-title.html" . }}{{ . }}{{ end }}</h2>

<ul class="blogcontent">
  {{- range .Paginator.Pages }}
  <li>
    {{ partial "get-date.html" . }}
    <h2 class="post__title"><a href="{{ .RelPermalink }}">{{ with partial "get-title.html" . }}{{ . }}{{ end }}</a></h2>

    {{ partial "get-post-coord.html" . }}

    {{- with partial "get-images.html" . }}   
      <p class="images">
        {{- range $image := . }}
          {{- with $.Site.GetPage $image }}
            {{- partial "figure2.html" . }}
          {{- end }}
        {{- end }}
      </p>
    {{- end }}

    {{ partial "get-content.html" . }}
  </li>
  {{- end }}
</ul>

{{- partial "pagination.html" . }}

<p class="blog__rss-link"><small>{{ .Site.Params.FEED }}: <a href="/{{ .Lang }}/rss.xml">RSS</a></small></p>

{{- end }}
