{{- $path := .RelPermalink }}
{{- $base := path.Base $path }}

{{- $pic_full := print "/static/media/" $base  "/" $base ".jpg" -}}
{{- $pic_thumb := print "/static/media/" $base  "/" $base ".jpg.thumb.jpg" -}}

{{/* */}}

<a class="jpic" href="{{ .RelPermalink }}" title="{{ partial "get-title.html" . }}" data-href="{{ $pic_full }}" data-title="{{ partial "get-title.html" . }}" data-location="{{ partial "get-media-location.html" . }}"><img class="galleryPic" src="{{ $pic_thumb }}" alt="{{ partial "get-title.html" . }}{{ with partial "get-content.html" . }}. {{ chomp . }}{{ end }}"></a>