{{/* Line */}}

<div id="baguetteBox-overlay">
<div id="baguetteBox-slider"></div>
<button id="previous-button" class="baguetteBox-button">
<svg height="60" width="44">
<polyline stroke-linejoin="round" fill="none" stroke-linecap="butt" stroke-width="4" stroke="rgba(255,255,255,0.5)" points="30 10 10 30 30 50"/>
</svg>
</button>
<button id="next-button" class="baguetteBox-button">
<svg height="60" width="44">
<polyline stroke-linejoin="round" fill="none" stroke-linecap="butt" stroke-width="4" stroke="rgba(255,255,255,0.5)" points="14 10 34 30 14 50"/>
</svg>
</button>
<button id="close-button" class="baguetteBox-button">
<svg height="30" width="30">
<g stroke-width="4" stroke="rgb(160, 160, 160)"><line y2="25" x2="25" y1="5" x1="5"/><line y2="5" x2="25" y1="25" x1="5"/></g>
</svg>
</button>
<button id="descr-button" class="baguetteBox-button">
<img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAAJElEQVR42mNgGAU0AYsWLfpPLTwEDR2NqNGIGo2okRlRQwIAAKr97wff6lLjAAAAAElFTkSuQmCC">
</button>
</div>