{{- $pageNumber := .Scratch.Get "page-number" }}

{{- $url2 := "" }}
{{- $lang2 := "" }}

{{- if eq .Lang "en" }}
  {{- $url2 = replace .RelPermalink "/en/" "/ru/" }}
  {{- $lang2 = "ru" }}
{{- else if eq .Lang "ru" }}
  {{- $url2 = replace .RelPermalink "/ru/" "/en/" }}
  {{- $lang2 = "en" }}
{{- end -}}
{{/* Line */}}

<footer id="footer">
<div id="footer-header">
  <p><a href="/{{ .Lang }}/" title="{{ .Site.Title }}">{{ .Site.Params.FOOTER.TITLE }}</a>. 2005—{{ now.Year }}.</p>
  <a id="scrollup" href="#"><span>{{ .Site.Params.SCROLL_UP }}</span></a>
  <p id="footer-lang">{{ .Site.Params.FOOTER.LANG_FROM }}. <a href="{{ $url2 }}{{ with $pageNumber }}{{ if gt $pageNumber 1 }}page/{{ . }}/{{end}}{{end}}" hreflang="{{ $lang2 }}">{{ .Site.Params.FOOTER.LANG_TO }}</a>.</p>
</div>
<div id="footer-center">
  <div id="footer-briefly">
    <h3>{{ .Site.Params.ABOUT_TITLE }}</h3>
    <p>{{ .Site.Params.ABOUT }}</p>
    <p><a href="/{{ .Lang }}/about/">{{ .Site.Params.ABOUT_MORE }}</a>.</p>
  </div>
  <div id="footer-contacts">
    <h3>{{ .Site.Params.CONTACTS.TITLE }}</h3>
    <p id="address">{{ .Site.Params.CONTACTS.ADDRESS | safeHTML }}.</p>
    <p id="email">
    {{ .Site.Params.CONTACTS.CEO }}, <a href="mailto:kir@kirillaristov.com">kir@kirillaristov.com</a><br>
    <a href="tel:+79256135850">+7 925 613-58-50</a>
    </p>

    <h3><a href="/{{ .Lang }}/rss.xml">RSS</a></h3>
    
    <!-- <h3>{{ .Site.Params.SUBSCRIBE.TITLE }} <sup><small>[<a href="/{{ .Lang }}/blog/rss.xml">RSS</a>]</small></sup></h3>
    <form id="subscribeform" name="subscribeform" method="post">				
    <div><input type="email" class="email" name="email" size="53" minlength="8" maxlength="100" placeholder="{{ .Site.Params.SUBSCRIBE.EMAIL }}" required></div>
    <div><input type="hidden" name="lang" value="{{ .Lang }}"></div>
    <p><input type="submit" id="submit" value="{{ .Site.Params.SUBSCRIBE.SUBMIT }}"></p>
    </form> -->
  </div>
</div>
<div class="footer-bottom">
  <p>{{ .Site.Params.FOOTER.SLOGAN }}</p>
  <p>{{ .Site.Params.FOOTER.TITLE }}. 2005—{{ now.Year }}</p>
  <p class="footer__license"><a href="/{{ .Lang }}/license/">{{ .Site.Params.FOOTER.LICENSE }}</a></p>
</div>
</footer>
