<header class="header">
	<div class="header-row row1">
		<div class="header-row__content">
		
		{{ partial "menu.html" . }}

		{{ partial "lang-changer.html" . }}

		</div>
	</div>


	<div class="header-row row2">
		<div class="header-row__content">
		
			<a class="home" href="/html_lang" title="SITE.HOME_PAGE">{{ partial "svg/logo.svg" }}</a>
		
			<div class="row2 column2">
				<h1 class="header__site-name"><a title="SITE.HOME_PAGE" href="/html_lang">SITE.TITLE</a></h1>

				{{ partial "menu.html" . }}

			</div>

			{{ partial "lang-changer.html" . }}

		</div>
	</div>
</header>