{{ define "main" }}

{{- .Content }}

{{ with .Site.GetPage "/blog" }}<h1><a href="{{.RelPermalink}}">{{.Title}}</a></h1>{{ end }}

<ul class="blogcontent">
{{ range first 5 (where .Site.Pages "Section" "blog") }}
<li>
{{ partial "get-date.html" . }}
<h2 class="post__title"><a href="{{ .RelPermalink }}">{{ with partial "get-title.html" . }}{{ . }}{{ end }}</a></h2>
{{- with partial "get-post-coord.html" . }}{{ . }}{{ end }}

{{- with partial "get-images.html" . }}   
<p class="images">
	{{- range $image := . }}
		{{- with $.Site.GetPage $image }}
			{{- partial "figure2.html" . }}
		{{- end }}
	{{- end }}
</p>
{{- end }}

{{- partial "get-content.html" . -}}
</li>
{{ end }}
</ul>

<div class="read-all-blog"><a href="/{{ .Lang }}/blog/">{{ .Site.Params.READ_ALL_BLOG }}: {{ len (where .Site.RegularPages "Section" "=" "blog") }}</a></div>

{{- end }}
