{{- $trail := .Get "trail" | default "the-first-settlers-trail" }}
{{ $center := .Get "center" | default "60.7,107.4" }}

{{- $trail_path := printf "/static/static/trails/%s/tracks/" $trail }}

{{- $trail_files := sort (readDir $trail_path) "Name" "desc" }}

{{- if ge (len $trail_files) 1 }}

  {{- $last_track := "" }}
  {{- range first 1 $trail_files }}
    {{- $last_track = .Name }}
  {{- end }}

  {{- $track_url := printf "%s/static/trails/%s/tracks/%s/%s.kml" .Site.Params.host $trail $last_track $trail -}}

  <div class="map" id="{{ printf "map-%s" $trail | safeHTMLAttr }}" data-track-url="{{ printf "%s" $track_url | safeHTMLAttr }}" data-center="{{ printf "%s" $center | safeHTMLAttr }}"></div>

{{- end }}